.breadcrumb .breadcrumb-title{
    margin: auto;
    width: 60%;
    text-align: center;
}
.breadcrumb .breadcrumb-title p{
    color: #fff;
}
.breadcrumb .breadcrumb-title{
    padding: 100px 0px;
}
.breadcrumb .breadcrumb-title h1{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 18%, rgba(0,133,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: relative;
    color: #fff;
    font-size: 100px;
}
.breadcrumb .breadcrumb-title-outline h1 {
    -webkit-text-stroke: 1px #ffffff33; 
    color: transparent; 
    background-color: transparent;
    font-size: 200px;
    position: absolute;
    top: 15%;
    right: 50%;
    transform: translateX(50%);
}


.blog-section{
    margin-bottom: 100px;
}

.blog-section .blog-item {
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid #027EF0;
    background: rgb(8,9,11);
    background: linear-gradient(144deg, rgba(8,9,11,1) 35%, rgba(7,30,51,1) 85%, rgba(7,43,79,1) 90%, rgba(4,66,122,1) 100%);    
}
.blog-section .blog-detail .blog-image{
    height: 500px !important;
    position: relative;
}
.blog-section .blog-item .blog-image{
    width: 100%;
    height: 270px;
    position: relative;
}
.blog-section .blog-item .blog-image img{
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale();
}
.blog-section .blog-item .blog-image .date{
    position: absolute;
    right: 2%;
    top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #027EF0;
    background-color: #2c2c2cd1;
    width: 150px;
    height: 50px;
    border-radius: 50px;
}
.blog-section .arrow-shape-right{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #027EF0;
    background-color: #2c2c2cd1;
    width: 150px;
    height: 50px;
    border-radius: 50px;
} 
.blog-section .arrow-shape-right img{
    transform: rotate(180deg);
}
.blog-section .blog-detail .blog-image .arrow-shape{
    position: absolute;
    left: 2%;
    top:3%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #027EF0;
    background-color: #2c2c2cd1;
    width: 150px;
    height: 50px;
    border-radius: 50px;
}
.blog-section .blog-detail .blog-image .arrow-shape img{
    color: #fff;
    max-width: 60%;
    object-fit: contain;
}
.blog-section .blog-item .blog-image .date h6{
    margin-bottom: 0px;
    color: #fff;
    padding: 10px;
}
.blog-section .blog-detail .blog-content .blog-title h1{
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 35px !important;
    font-weight: 400 ;
    text-transform: uppercase;
    margin: 20px 0px;
}
.blog-section .blog-item .blog-content .blog-title h1{
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 20px;
    font-weight: 400 ;
    text-transform: uppercase;
    margin: 20px 0px;
}
.blog-section .blog-item .blog-content .blog-title p{
    color: #bfbfbf;
}
.blog-section .blog-item .blog-content .read-more h6{
    color: #81c2ff;
    text-decoration: underline;
}
.blog-section .sec-title h1{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    margin: 50px 0px 30px 0px;
    color: #fff;
    font-weight: 600;
}
.blog-section .blog-detail .share button{
    height: 50px;
    width: 150px;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid #027EF0;
    color: #fff;
}
.blog-section .blog-detail .blog-content .blog-title h1{
    margin: 0px;
}
.blog-section .blog-detail .blog-content .blog-title{
    margin-top:40px;
}

/* blog overview page styles */
.blog-overview-page{
    padding: 100px 0px;
}
.blog-overview-page .blog-title{
    margin-top: 30px;
}

.blog-overview-page .share{
    justify-content: end
}
.blog-overview-page .blog-overview-content p{
    color: #fff;
    font-size: 18px;
}