.service-hero-section{
    position: relative;
}
.service-hero-section .banner-content{
    padding:100px 0px 220px 0px;
    text-align: center;
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 15%, rgba(0,33,63,1) 75%, rgba(0,63,120,1) 90%, rgba(2, 125, 240, 0.728) 100%);
}
.service-hero-section .banner-content h1{
    font-family: 'Graphik Trial', sans-serif;
    font-size: 100px;
    line-height: 100px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, rgba(0,133,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 600;
}
.service-hero-section .banner-content p{
    font-family: 'Inter', sans-serif;
    padding-top: 40px;
    color: #FBFBFB;
    width: 60%;
    text-align: center;
    font-weight: 200;
    margin: auto;

}
.service-hero-section .banner-content h6{
            font-family: 'Graphik Trial', sans-serif;
            font-size: 35px;
            font-weight: 500;
            color: #fff;
            max-width: 700px;
            margin: auto;
            margin-top: 20px;
}
.service-hero-section .service-hero-shape{
    position: absolute;
    bottom: 0;
}
.service-hero-section .service-hero-shape img{
   width: 100%;
   mix-blend-mode: color-dodge;
   opacity: 90%;
}


/* service sextion one */
.gradient-bg-servicepage .gradient-bg-radial-1{
    top: 0;
}
.service-section-one{
    padding: 200px 0px;
}
.service-section-one .content h1{
    font-family: 'Graphik Trial', sans-serif;
    font-size: 100px;
    line-height: 100px;
    font-weight: 600;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 18%, rgba(0,133,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.service-section-one .content h6 {
    font-family: 'Graphik Trial', sans-serif;
    font-size: 35px;
    font-weight: 500;
    background: rgb(255,255,255);
    background: linear-gradient(80deg, rgba(255,255,255,1) 0%, rgba(118,117,133,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.service-section-one .content p{
    color: #FBFBFB;
    font-size: 18px;
    line-height: 30px;
    width: 100%;
    margin-top: 50px;
}
.service-section-one .image img{
    width: 90%;
}



/* service section two */
/* .unlock-potential{
    position: relative;
}
.checked-shape{
    position: absolute;
    top: -10%;
    left: -30%;
    z-index: 1;
}
.checked-shape img{
    width: 600px;
    height: 500px;
} */
.service-section-two{
    padding: 0px 0px 100px 0px ;
}
.service-section-two .active{
    background: rgb(0,0,0) !important;
    background: linear-gradient(53deg,rgba(15, 32, 72, 0.662) 40%, rgba(21,42,97,1) 100%) !important;
}
.service-section-two .active::before{
    display: none;
}
.service-section-two .item {
    position: relative;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 49%, rgba(0,12,50,1) 100%);
    z-index: 1;
}

.service-section-two .item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30px;
    padding: 0.5px; 
    background: linear-gradient(90deg, rgba(3,38,140,1) 1%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 64%, rgba(3,38,140,1) 100%);
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    z-index: -1;
}

.service-section-two .item .item-content h1{
    font-family: 'Graphik Trial', sans-serif;
    font-size: 35px;
    font-weight: 600;
    max-width: 200px;
    color: #fff;
}
.service-section-two .item-content p{
    color: #FBFBFB;
    font-size: 18px;
    line-height: 30px;
    width: 80%;
}
.service-section-two .icon{
    padding-top: 90px;
}
.service-section-two .icon img{
    max-width: 80%;
}


/* service section three */

.service-section-three{
    padding: 100px 0px;
    background: rgb(25,57,158);
    background: linear-gradient(214deg, rgb(24, 63, 189) 0%, rgba(0,0,0,1) 30%,rgba(0,0,0,1) 60%, rgb(24, 62, 186) 100%);
}
.service-section-three .title h1{
    font-family: 'Graphik Trial', sans-serif;
    font-size: 100px;
    line-height: 100px;
    font-weight: 600;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 18%, rgba(0,133,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.service-section-three  p{
    color: #FBFBFB;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    max-width: 80%;
    margin: auto;
    margin-top: 50px;
}
.service-section-three .image {
    padding: 10px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.service-section-three .image img{
    max-width: 100%;
}
.service-section-three .benefit-items .title h6{
    padding: 30px 0px;
    text-align: center;
    font-family: 'Graphik Trial', sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: #fff;
}
.service-section-three .benefit-items .item{
    height: 260px;
    padding: 30px;
    border-radius: 30px;
    border: 2px solid #A2B2E3;
    background: rgba(25, 56, 158, 0.432);
}
.service-section-three .benefit-items .item .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    background-color: #000000bd;
}
.service-section-three .benefit-items .item h6{
    font-size: 25px;
    color: #fff;
    margin-top: 20px;
}
.service-section-three .benefit-items .item p{
    font-size: 15px;
    color: #fff;
    margin-top: 0px;
    padding-left: 0px;
    text-align: left;
    margin: initial;
}
.service-section-three .title h6{
    text-align: left;
    font-family: 'Graphik Trial', sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: #fff;
}
.no-gradient-bg{
    background: none;
}


/* service cta styles */

.service-cta{
    margin-top: 50px;
    padding: 100px 0px;
    background-image: url("../Resources/service-page-cta-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
}
.service-cta .content h1{
    font-family: 'Graphik Trial', sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
    margin: auto;
    width: 100%;
    background: rgb(2,126,240);
    background: linear-gradient(-108deg, rgba(2,126,240,1) 0%, rgba(0,0,0,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    position: relative;
    color: #fff;
    font-size: 100px;
    line-height: 100px;
}
.service-cta .content p{
    margin-top: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #000;
}
.service-cta .image img{
    width: 100%;
}